.contenedor {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 200px 1fr 200px;
	grid-template-rows: 200px 100px 200px;

	grid-auto-columns: 100px;
	grid-auto-rows: 100px;

	grid-auto-flow:row dense;
}

.contenedor .span2 {
	grid-column: span 2;
	/* grid-row: span 2; */
	background: #ff8000;
}

.contenedor .span3 {
	grid-column: span 3;
	/* grid-row: span 3; */
	background: #575757;
}